[Desktop Entry]
Encoding=UTF-8
Name=asocoin
Comment=asocoin P2P Cryptocurrency
Comment[fr]=asocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=asocoin, eşten eşe kriptografik sanal para birimi
Exec=asocoin-qt %u
Terminal=false
Type=Application
Icon=asocoin128
MimeType=x-scheme-handler/asocoin;
Categories=Office;Finance;
