[Unit]
Description=asocoin's distributed currency daemon
After=network.target

[Service]
User=asocoin
Group=asocoin

Type=forking
PIDFile=/var/lib/asocoind/asocoind.pid

ExecStart=/usr/bin/asocoind -daemon -pid=/var/lib/asocoind/asocoind.pid \
          -conf=/etc/asocoin/asocoin.conf -datadir=/var/lib/asocoind

ExecStop=-/usr/bin/asocoin-cli -conf=/etc/asocoin/asocoin.conf \
         -datadir=/var/lib/asocoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
